@{
    ViewBag.Title = "Home Page";
}


    
    <div>
        <div>


        </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-lg-12">
                        <div class="centering text-center">
                            <div class="text-center">
                                <h2 class="without-margin">Sitio en Evolucion <span class="text-success"><big>...</big></span></h2>
                                <h4 class="text-success">Proximamente</h4>
                            </div>
                        </div>
                            <div>
                                <p>
                                    Virtual market te ofrece la posivilidad de realizar el mercado desde la comodidad de tu hogar,
                                    solo debes registrarte realizar la seleccion de los productos que deseas incluir y recibiras
                                    los productos en la comodidad de tu casa, realiza el pago cuando recibas tus productos
                                </p>
                            </div>
                            <div class="text-center">
                                <h3><small>Por ahora puedes probar algunas de las caracteristicas del sitio, sigue visitando la pagina, encontraras cosas nuevas todos los dias.</small></h3>
                            </div>
                            
                        
                    </div>
                </div>

            </div>
        </div>
